@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

@mixin buttom-general() {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}