$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$merriwearther-font: "Merriweather", serif;
$montserrat-font: "Montserrat", sans-serif;

// ---- Colores fondo ----
$bg-principal: #2B2D38;
$bg-purple: #6E1FED;
$bg-blue: #60D3D9;
$bg-yellow: #F4B840;
$bg-orange: #FF7E29;
$bg-pink: #DB2A6B;

// ---- Colores body
$text: #FFFFFF;
