@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.button{
    display: flex;
    gap: 20px;
    margin: 20px 0;

    &-left {
        @include buttom-general ();
        padding: 15px 60px;
        background-color: $bg-pink;
        border-radius: 15px 15px 15px 0;
    }

    &-right{
        @include buttom-general ();
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: underline;
    }
}

