@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 60px 20px 0;

    .logo {
    color: $bg-pink;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;

        span {
            color: $text;
        }
    }

    .nav-hero ul{
        display: flex;
        gap: 40px;
        li {
            display: flex;
            a{
                color: $text;
                @include reset-list();
                color: rgba($text, 0.5);

                &:hover {
                    color: $text; // Se vuelve blanco al pasar el mouse
                }

                &.active {
                    color: $text;
                    text-decoration-line: underline;       // Activa el subrayado
                    text-decoration-color: #d1275b;        // Cambia el COLOR
                    text-decoration-thickness: 3px;        // Cambia el GROSOR
                    text-underline-offset: 10px;            // Cambia la DISTANCIA (separación del texto)
                    text-decoration-style: solid;
                }
            }
        }
    }


}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-inline: auto;
}
.hero {
    &-top{
        margin: 50px 0;
    }
    &-content{
        .title {
            font-size: 65px;
            font-weight: 700;
            font-style: unset;
            font-family: $merriwearther-font;
        }
        .text{
            margin: 10px 0;
            color: rgb($text, 0.5);
            font-size: 20px;
            font-weight: 400;
            max-width: 90%;
            line-height: 40px;

        }
    }

    &-visual {
        position: relative; // INDISPENSABLE para que los retratos no se salgan
        height: 500px;      // Necesitamos una altura para que el absoluto tenga espacio
        width: 100%;

        .ellipse {
            position: absolute;
            &.c-1 {
                position: absolute;
                top: 80px;
                left: 80px;
                transform: scale(0.7);
            }
        }

        .portrait {
            position: absolute; // Esto permite el diseño "collage"
            border-radius: 50px; 
            overflow: hidden;      

            &.p-1 { top: 0; left: 5%; width: 160px; height: 350px; background-color: $bg-purple;
                img {
                    position: absolute; 
                    width: 400%;        
                    height: auto;       
                    
                    // AQUÍ ES DONDE MUEVES LA CARA:
                    top: 0px;         // Sube o baja la imagen (negativo sube)
                    left: -147%;         // Mueve a los lados para centrar la cara
                    transform: scale(1.2); 
                    transform-origin: top center;
                }
            }
            &.p-2 { top: 0; left: 38%; width: 160px; height: 150px; background-color: $bg-blue;
                img {
                    position: absolute; 
                    width: 250%;        
                    height: auto;       
                    
                    // AQUÍ ES DONDE MUEVES LA CARA:
                    top: -20px;         // Sube o baja la imagen (negativo sube)
                    left: -78%;         // Mueve a los lados para centrar la cara
                    transform: scale(1.3); 
                    transform-origin: top center;
                }
            }
            &.p-3 { top: 15%; right: 3%; width: 160px; height: 320px; background-color: $bg-yellow;
                img {
                    position: absolute; 
                    width: 250%;        
                    height: auto;       
                    
                    // AQUÍ ES DONDE MUEVES LA CARA:
                    top: -40px;         // Sube o baja la imagen (negativo sube)
                    left: -80%;         // Mueve a los lados para centrar la cara
                    transform: scale(1.4); 
                    transform-origin: top center;
                }
            }
            &.p-4 { bottom: 0; left: 38%; width: 160px; height: 320px; background-color: $bg-orange; 
                img {
                    position: absolute; 
                    width: 250%;        
                    height: auto;       
                    
                    top: 0px;         // Sube o baja la imagen (negativo sube)
                    left: -74%;         // Mueve a los lados para centrar la cara
                    transform: scale(1.4); 
                    transform-origin: top center;
                }
            }
            &.p-5 { bottom: 0; left: 5%; width: 160px; height: 130px; background-color: $bg-pink;
                img {
                    position: absolute; 
                    width: 250%;        
                    height: auto;       
                    
                    // AQUÍ ES DONDE MUEVES LA CARA:
                    top: -200px;         // Sube o baja la imagen (negativo sube)
                    left: -70%;         // Mueve a los lados para centrar la cara
                    transform: scale(1.3); 
                    transform-origin: top center;
                }
            }
        }
    }
}

.features{
    display: flex;
    gap: 40px;
    &-grid {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            padding: 10px;
            background-color: rgb($text, 0.15);
            border-radius: 10px;
        }

        .title-article {
            font-size: 18px;
            font-weight: 600;
        }
    }
}
